<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>thogakade-web</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">

</head>
<body>
    <main>
        <nav>
            <button>customer</button>
            <button>item</button>
            <button>order</button>
        </nav>
        <section>
            <section>
                <section class="customer"></section>
                <section class="item"></section>
                <section class="order"></section>
            </section>
        </section>
    </main>
    <script src="../static/js/web.js"></script>
</body>
</html>