<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>thogakade-web</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">

</head>
<body>
    <main>
        <nav>
            <button onclick="customerMove()">customer</button>
            <button onclick="itemMove()">item</button>
            <button onclick="orderMove()">order</button>
        </nav>
        <section>
            <section id="menu">
                <section id="customer" class="customer">
                    <h1>Customer Form</h1>

                    <aside>
                        <button>Add New Customer</button>
                    </aside>

                </section>

                <section id="item" class="item">
                    <h1>Item Form</h1>
                </section>

                <section id="order" class="order">
                    <h1>Order Form</h1>
                </section>

            </section>
        </section>
    </main>
    <script src="../static/js/web.js"></script>
</body>
</html>