

body main{
    width: 100%;
    height: 100vh;
}

main>nav{
    width: 20%;
    position: fixed;
    background-color: #f6b458;
    height: 100vh;
    display: grid;
    z-index: 10;
}

main>nav>button{
    width: 95%;
    height: 10vh;
    margin-top: 10vh;
    /*border: 0;*/
    font-size: 30px;
    color: darkblue;
    font-family: Calibri, cursive;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

main>nav>button:hover{
    background: darkblue;
    color: white;
}

main>section{
    width: 80%;
    height: 100vh;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    background-color: #3c6662;
    overflow: hidden;
}

main>section>section{
    width: 300%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

main>section>section>section{
    width: calc(100%/3);
    height: 100vh;
    box-sizing: border-box;
}

.customer{
    background-color: #e8ff8e;
    text-align: center;
}

.item{
    background-color: #9aa4ff;
    text-align: center;
}

.order{
    background-color: #3c6662;
    text-align: center;
}

.customer>aside{
    width: 150px;
    height: 40px;
    position: absolute;
    right: calc(100%/3*2.1);
}

.customer>aside>button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: #6f7dff;
    color: white;
    border: 0;
}

.customer>aside>button:hover{
    background-color: #f6b458;
    transition-duration: 1s;
}

.customer>section{
    height: 100vh;
    position: relative;
    top: 10vh;
    width:70vw;
    margin: auto;
}

.customer>section>table{
    width: 100%;
}

/*
.customer>section>table>thead{
    height: 40px;
    background-color: #9aa4ff;
    color: #29064d;
    font-size: 20px;
}

.customer>section>table>tbody>tr{
    background-color: #e88b0a;
    height: 30px;
}

.customer>section>table>tbody>tr>td>button{
    background-color: #5bfaf6;
    border: 0;
    margin-left: 10px;
    width: 60px;
    border-radius: 10px;
}

.customer>section>table>tbody>tr>td>button:hover{
    background-color: #6f7dff;
}*/
